<!DOCTYPE html>
<html>
    <head>
        <title>Anuj Angular jS Learning</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    </head>
    <body ng-app>
        <div>Simple example using ng-mode and angular expression.</div>
    
    <input ng-model="name" id="name" type="text">
    <input ng-model="name" id="name1" type="text">
    <input ng-model="lastname" id="lastname" type="text">
  
    <p>You are typing the following text:-</p>
    {{name}} {{lastname}}
   </body> 
</html>
